@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --Red: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

body {
  font-family: "Space Grotesk", sans-serif;
}

main {
  display: flex;
  align-items: center;
}

main header {
  width: 50vw;
  position: relative;
}

main header .bg img {
  height: 100vh;
  position: absolute;
  width: 60%;
}

main header .bg .mobile {
  display: none;
}

main header .bg .desktop {
  display: block;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
  }

  main header .bg .mobile {
    display: block;
    height: 30vh;
    width: 100vw;
  }

  main header .bg .desktop {
    display: none;
  }
}
